
.container
{
  background-image: linear-gradient(to bottom, white,#ffffab);
  display: grid;
  min-height:10vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 6vw 9vw 25vw 5vw 20vw 4vw 7vw 5vw;
  grid-template-areas: 
      "head head head"
      "photo stext stext"
      "photo award award"
      "line line line"
      "allphotos allphotos allphotos"
      "info info info"
      "product product product"
      "footer footer footer";

  grid-gap:0.2rem;


}
.Header
{
  grid-area: head;
  background-image: url('logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.photo
{
  grid-area: photo;
  background-image: url('1.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
 
}
.stext
{
  grid-area: stext;
}
.award
{
  grid-area: award;
  background-image: url('2.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.line
{
  grid-area: line;
  text-align: center;
  padding-top: 30px;
}
.allphotos
{
  grid-area: allphotos;
  background-image: url('3.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.info
{
  grid-area: info;
  text-align: center;
}
.product
{
  grid-area: product;
  text-align: center;
  
}
.Footer
{
  grid-area: footer;
  background-color: red;
}
.contact
{
 
  margin-top: 40px;
  width:100vw;
 
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}
.list li
{
  display:inline;
  border-right: 1px solid red;
}
hr{
  border-top: 1px solid red;
  width:95vw;
  text-align: center;
}

@media only screen and (max-width:1150px) and (min-width:951px)
{
  .container{
    grid-template-rows: 10vw 15vw 25vw 5vw 20vw 4vw 10vw 7vw;
  }
  .contact
  {
    margin-top: 20px;
  }
  

}
@media only screen and (max-width:950px) and (min-width:751px)
{
  .container{
    grid-template-rows: 10vw 25vw 25vw 10vw 20vw 4vw 15vw 7vw;
  }
  .contact
  {
    margin-top: 15px;
  }
  .i1{
    margin-left: 40px;
    padding-top: 2px;
    padding-bottom: 10px;
  }
  .i2{
    margin-left: 40px;
    padding-top: 2px;
    padding-bottom: 10px;
  }
  .i3{
    margin-left: 40px;
    padding-top: 2px;
    padding-bottom: 10px;
  }
}
@media only screen and (max-width:750px) and (min-width:551px)
{
  .container{
    grid-template-rows: 10vw 40vw 25vw 15vw 20vw 10vw 30vw 20vw;
  }
  .stext{
    font-size: 15px;
  }
  .contact
  {
    margin-top: 15px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .i1{
    margin-left: 40px;
    padding-top: 2px;
    padding-bottom: 10px;
  }
  .i2{
    margin-left: 40px;
    padding-top: 2px;
    padding-bottom: 10px;
  }
  .i3{
    margin-left: 40px;
    padding-top: 2px;
    padding-bottom: 10px;
  }
}
@media only screen and (max-width:550px) and (min-width:330px)
{
  .container{
    grid-template-rows: 10vw 40vw 25vw 20vw 20vw 10vw 30vw 30vw;
  }
  .stext{
    font-size: 10px;
  }
  .contact
  {
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .line{
    font-size: 10px;
  }
  .info{
    font-size:10px;
  }
  .product{
    font-size:10px;
  }
  .i1{
    margin-left: 40px;
    padding-top: 2px;
    padding-bottom: 10px;
  }
  .i2{
    margin-left: 40px;
    padding-top: 2px;
    padding-bottom: 10px;
  }
  .i3{
    margin-left: 40px;
    padding-top: 2px;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width:329px) 
{
  .container{
    grid-template-rows: 10vw 40vw 75vw 20vw 20vw 10vw 40vw 25vw;
  }
  .stext{
    font-size: 10px;
  }
  .contact
  {
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .line{
    font-size: 10px;
  }
  .info{
    font-size:10px;
  }
  .product{
    font-size:10px;
  }
}

